{% extends "base.html" %}
{% block title %}
<title>{{ p.title }}|Yiner in Python</title>
{% endblock %}
{% block content %}
<section id="content">
	<article class="post">
		<h2 class="post-title"><a href="/{{ p.url }}/">{{ p.title }}</a></h2>
		<p class="post-date"><span class="year">{{ p.date.year}}</span>
            <span class="month">{{ p.date|date:"M"}}</span>
            <span class="day">{{ p.date.day}}</span>
            <span class="time">{{ p.date|date:"H"}}:{{ p.date|date:"H"}}</span>
            <span class="postcomment">{{ p.num }}次查看</span>
        </p>
		<p class="post-data">
            <span class="posttag">标签：
                {% for l in p.label.all %}
                <a href="#">{{ l }}</a>,
                {% endfor %}
            </span>
        </p>
		<section class="article-content">{{ p.content|safe}}</section>
	</article>
    <!-- Duoshuo Comment BEGIN -->
	<div class="ds-thread" data-title="{{ p.title }}"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"pyiner"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = 'http://static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		|| document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- Duoshuo Comment END -->
</section>
{% endblock %}
