{% extends "base.html" %}
{% load markup %}
{% block content %}
<section id="content">
    {% for p in P %}
    <article class="post">
		<h2 class="post-title"><a href="/{{ p.url }}/">{{ p.title }}</a></h2>
		<p class="post-date"><span class="year">{{ p.date.year}}</span>
            <span class="month">{{ p.date|date:"M"}}</span>
            <span class="day">{{ p.date.day}}</span>
            <span class="time">{{ p.date|date:"H"}}:{{ p.date|date:"H"}}</span>
            <span class="postcomment">{{p.num }}次查看</span>
        </p>
		<p class="post-data">
            <span class="posttag">标签：
                {% for l in p.label.all %}
                <a href="#">{{ l }}</a>,
                {% endfor %}
            </span>
        </p>
        <section class="article-content">{{ p.summary|markdown }}</section>
	</article>

    {% endfor %}
    {% if Pnum %}
    <p class="post-nav" style="">
        <span class="previous">
            <a href="/?page={{ Pnum }}">« 下一页</a>
        </span>
    </p>
    {% endif %}
</section>
{% endblock %}